.main-block {
  max-width: "50%";
  margin: 4rem auto;
}

.formBlock {
  width: 90%;
  margin: 4rem auto;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
  border: 0.5px solid rgb(61, 139, 253);
  border-radius: 10px;
}
